{% include 'main.html' %}

{% block content %}
<div class="form-image">
    <div class="container">
        <h1 class="text-center text-light p-5">Update Patient Form</h1>
        <form class="form-patient" method="POST">
            {% csrf_token %}
            <table class="mt-5">
                {{ form.as_p }} 
            </table>
            <div class="d-block w-100">
                <button class="btn btn-dark d-block w-100" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
